body {
  background-color: #ff9966;
  text-align: center;
}
graph {
  box-shadow: 3px 3px 44px #000;
  margin-top: 50px;
}
.link {
  stroke: #777;
  stroke-width: 1px;
}
img {
  position: absolute;
}
.flag {
  position: absolute;
}
