body {
  background-color: #99ccff;
}
.graph {
  box-shadow: 3px 3px 44px #000;
  margin-top: 85px;
  background-color: white;
  margin-left: 185px;
  margin-bottom: 50px;
}
.link {
  stroke: #777;
  stroke-width: 1px;
}
img {
  position: absolute;
}
.flag {
  position: absolute;
}
h1 {
  position: absolute;
  left: 425px;
  top: 5px;
}
